:root {
    --dark-grey-color: #181e1e;
    --red-color: #e63946;
    --pink-color: #ff6864;
    --yellow-color: #ffca28;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Sections */
section {
    padding: 80px;
    color: white;

}

section h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
}



.black {
    background-color: black;
}

.dark-grey {
    background: var(--dark-grey-color);
}